{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	{% comment %} <div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Items: <strong>{{order.get_cart_items}}</h5></th>
						<th><h5>Total:<strong> ${{order.get_cart_total|floatformat:2}}</h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-primary" href="{% url 'checkout' %}">Checkout</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
					<div style="flex:1">
						<p class="quantity">{{item.quantity}}</p>
						<div class="quantity">
							<img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">

							<img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
						</div>
					</div>
					<div style="flex:1"><p>${{item.get_total|floatformat:2}}</p></div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div> {% endcomment %}


	{% comment %} tailwind {% endcomment %}

	<header class="mt-12 ml-12">
		<div class="bg-slate-100 shadow-lg p-8 border">

			<a  class="text-lg bg-slate-200 p-2 rounded-md shadow-sm hover:bg-slate-400 hover:text-white" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
			<hr class="my-2">
			<div class="grid grid-cols-2 gap-12 mt-8 text-lg">
                <h2>Items</h2>
				<h2>Total Price</h2>
			</div>

			<div class="grid grid-cols-2 gap-12 mt-4 mb-8">
				<h5 class="font-semibold text-lg text-black">{{order.get_cart_items}}</h5>
				<h5 class="font-semibold text-lg text-black"> ${{order.get_cart_total|floatformat:2}}</h5>
		    </div>
			<hr class="my-2">

			<div class="text-right">
				<a class="text-lg bg-slate-200 p-2 rounded-md shadow-sm hover:bg-slate-400 hover:text-white mr-8" href="{% url 'checkout' %}">Proceed to 
					<span class="font-semibold">Checkout</span><i class=" ml-2 fa-solid fa-arrow-right"></i></a>
			</div>
        </div>


        <div class="bg-slate-100 border shadow-lg p-8 mt-12">
        <h1 class="text-2xl font-bold mb-8 text-center mt-4 text-black">Your Shopping Cart</h1>
        <div class="grid grid-cols-5 gap-2 text-lg font-semibold mb-4 ">
			<h2></h2>
			<h2 class=" text-black">Product</h2>
			<h2 class=" text-black">Price</h2>
			<h2 class=" text-black">Quantity</h2>
			<h2 class=" text-black">Total Price</h2>
		</div>

		{% for item in items %}
		<hr class="my-2">
		<div class="grid grid-cols-5 gap-2 text-[16px] mb-2">
			<div><img class="row-image" src="{{item.product.imageURL}}"></div>
			<div><p>{{item.product.name}}</p></div>
			<div><p>${{item.product.price|floatformat:2}}</p></div>
			<div>
				<p class="quantity">{{item.quantity}}</p>
				<div class="quantity">
					<img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">

					<img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
				</div>
			</div>
			<div ><p>${{item.get_total|floatformat:2}}</p></div>
		</div>
		{% endfor %}

	   </div>

       
    </header>
{% endblock content %}